/*update 11 sep 09
10.05 morning
*/
table.instrumen {
	
	background-color: #4D4D4D;
	width: 1024px;
	border: 1px solid #000;

font-family:"lucida grande",tahoma, verdana, arial, helvetica, sans-serif;font-size:11px;color:#333;
cursor:pointer;

}
table.instrumen th {
	text-align: left;
	padding: 5px;
	background-color: #6E6E6E;
}
table.instrumen td {
	color: #FFF;
	padding: 5px;
	text-align:center;

}
table.instrumen .even {
	background-color: #105369;
}
table.instrumen .odd {
	background-color: #186d89;
}
table.instrumen .header {
	background-image: url(bg.png);
	background-repeat: repeat;

	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.instrumen .headerSortUp {
	background-image: url(asc.png);
	background-repeat: no-repeat;
}
table.instrumen .headerSortDown {
	background-image: url(desc.png);
	background-repeat: no-repeat;
}